{% extends 'base.html' %} {% block content %}
<div class="detail__img">
  <img src="{{gyms.img}}" alt="{{gyms.name}}" />
</div>
<div class="detail__name">
  <div class="icon-text">
    <span class="icon has-text-info">
      <i class="fas fa-check-circle"></i>
    </span>
  </div>
  <h1 class="title">{{gyms.name}}</h1>
</div>
<div class="detail__container">
  <div class="buttons">
    <a href="{% url 'gyms_update' gyms.pk %}" class="button is-info">
      <span class="icon">
        <i class="fas fa-edit"></i>
      </span>
    </a>
    <a href="{% url 'gyms_delete' gyms.pk %}" class="button is-danger">
      <span class="icon">
        <i class="fas fa-trash-alt"></i>
      </span>
    </a>
  </div>
  <!--  class times  -->
  <div class="detail__classes mb-5">
    <h3 class="title is-3">Class Times</h3>

    {% for Class in gyms.info.all %}
    <div class="Class">
      <span>{{forloop.counter}}</span>
      <span><b>{{Class.type}}</b></span>
      <span>{{Class.time}}</span>
    </div>
    {% empty %}
    <article class="message">
      <div class="message-header">
        <p>No Classes Available</p>
      </div>
    </article>

    {% endfor %}
  </div>
  <div class="detail__about">
    <h4 class="title is-4">About</h4>
    <p>{{gyms.type}}</p>
    <p>{{gyms.classes}}</p>
  </div>
</div>

{% endblock %}
